@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <br />
    <table id="tabela" class="datatable">
        <thead>
            <tr>
                <td>Abc</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Abc</td>
            </tr>
        </tbody>

    </table>
</div>

@section Scripts {
<script>
    $(document).ready(function () {
        $('.datatable').DataTable();
    });
</script>
}



